<div class="container-fluid">
  <div class="col-md-12">
    <div class="card-page">
      <div class="card-body">

          <div class="row d-flex my-3">
            <button class="btn mr-4" (click)="goBack()">
              <i
                class="fa fa-arrow-circle-left fa-3x"
                style="color: #134e6f"
              ></i>
            </button>
            <h1 class="text-black mb-3">Aporte/CCG</h1>
          </div>


        <div class="row">
          <div>
            <h3 class="pl-3">{{memberService.member.name}}</h3>
            <h3 class="pl-3">{{this.structService.foundCCG.type}}</h3>
          </div>
          <div class="col-md-12">
            <textarea class="form-control" id="textAreaNews" rows="5" disabled>{{this.structService.foundCCG.body}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
