<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-page">
        <div class="card-body">
          <div class="row d-flex my-3">
            <div class="col-md-12">
              <button class="btn" (click)="goBack()">
                <i
                  class="fa fa-arrow-circle-left fa-3x"
                  style="color: #134e6f"></i>
              </button>
              <h1 class="text-black">Noticia</h1>
            </div>
            <div class="col-md-12 mt-1">
              <h3>Mensaje de: </h3>
              <p>Kendall</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <textarea class="form-control" id="textAreaNews" rows="5" disabled>bla bla bla</textarea>
            </div>
            <div class="col-md-4">
              Imagenes:
            </div>
          </div>
      </div>
    </div>
  </div>
</div>




