.responsive {
    width: 200px;
    height: 200px;
    margin-top: 10%;
}

.divider {
    border-right: 3px solid #FFA822;
}

@media screen and (max-width: 830px)  {
    .responsive {
        width: 100px;
        height: 100px;
        margin-top: 5%;
    }
    .card-page{
        height: auto;
    }
}

@media screen and (max-height: 400px)  {
    .responsive {
        display: none;
    }
    .card-page{
        height: auto;
    }
    .boton{
        height: 10%;
    }
}


