<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-page">
        <div class="card-body">
          <div class="row d-flex">
            <button class="btn mr-4" (click)="goBack()">
              <i
                class="fa fa-arrow-circle-left fa-3x"
                style="color: #134e6f"
              ></i>
            </button>
            <div class="col-md-12 d-flex justify-content-center">
              <h3 class="my-4">Menu de miembros</h3>
            </div>
          </div>
          <div class="row d-flex my-5">
                <div class="col-md-6 d-flex justify-content-center">
                  <button class="btn btnLeft" (click)="verIntegrantes()">Ver integrantes</button>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                  <button class="btn btnRight" (click)="verDatos()">Datos propios</button>
                </div>
          </div>
          <div class="row d-flex my-5">
            <div class="col-md-6 d-flex justify-content-center">
              <button class="btn btnLeft" (click)="enviarCCG()">Enviar aporte</button>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <button class="btn btnRight" (click)="verNews()">Ver notificaciones</button>
            </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
