<div class="container">
  <div class="row">
    <div class="col-md-12 my-4">
      <!-- Card con el form -->
      <div class="card px-5 py-4 d-flex justify-content-start">
        <!-- Boton de regresar -->
        <div class="row mx-2">
          <button class="btn my-3 mr-4" (click)="goBack()">
            <i class="fa fa-arrow-circle-left fa-3x" style="color: #134e6f"></i>
          </button>
          <p class="text-black align-text-center my-4">
            Registra un nuevo Miembro
          </p>
        </div>
        <!-- Final de Boton de Regresar -->
        <!-- Inicio del Form -->
        <form
          class="blue-form d-flex flex-wrap justify-content-center"
          [formGroup]="memberService.formMiembro"
        >
          <div class="col-md-6">
            <div class="form-group mx-sm-3 mb-2">
              <div class="row py-4">
                <input
                  type="text"
                  class="form-control px-3 pt-2"
                  formControlName="name"
                />
                <img
                  src="./assets/landing/placeholder.svg"
                  class="placeholder-bg"
                />
                <p class="placeholder-text">
                  <span class="fa fa-user"></span> Nombre
                </p>
              </div>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <div class="row py-4">
                <input
                  type="email"
                  class="form-control px-3 pt-2"
                  formControlName="email"
                />
                <img
                  src="./assets/landing/placeholder.svg"
                  class="placeholder-bg"
                />
                <p class="placeholder-text">
                  <span class="fa fa-envelope"></span> Email
                </p>
              </div>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <div class="row py-4">
                <input
                  type="text"
                  class="form-control px-3 pt-2"
                  formControlName="password"
                />
                <img
                  src="./assets/landing/placeholder.svg"
                  class="placeholder-bg"
                />
                <p class="placeholder-text">
                  <span class="fa fa-envelope"></span> Contraseña
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mx-sm-3 mb-2">
              <div class="row py-4">
                <input
                  type="text"
                  class="form-control px-3 pt-2"
                  formControlName="phone"
                />
                <img
                  src="./assets/landing/placeholder.svg"
                  class="placeholder-bg"
                />
                <p class="placeholder-text">
                  <span class="fa fa-phone"></span> Télefono
                </p>
              </div>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <div class="row py-4">
                <textarea
                  rows="4"
                  class="form-control px-3 pt-2"
                  formControlName="direction"
                ></textarea>
                <img
                  src="./assets/landing/placeholder.svg"
                  class="placeholder-bg"
                />
                <p class="placeholder-text">
                  <span class="fa fa-address-card"></span> Dirección
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="role"
              />
              <span class="checkbox-text m-2"> Monitor</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mx-sm-3 mb-2">
              <button
                type="button"
                class="boton btn px-4 align-self-center"
                style="background-color: #ffa822"
                (click)="createMember()"
              >
                Registrar
                <span class="fa fa-arrow-right"></span>
              </button>
            </div>
          </div>
        </form>
        <!-- Fin del Form -->
      </div>
    </div>
  </div>
</div>
