<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-page">
        <div class="card-body">
          <div class="row d-flex my-3">
            <button class="btn mr-4" (click)="goBack()">
              <i
                class="fa fa-arrow-circle-left fa-3x"
                style="color: #134e6f"
              ></i>
            </button>
            <h1 class="text-black">Bandeja de Noticias</h1>
          </div>

          <div class="col-md-12 mt-1">
            <h3>Lista de noticias:</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
