<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-page">
        <div class="card-body">
          <div class="row d-flex my-3">
            <div class="col-md-12">
              <button class="btn" (click)="goBack()">
                <i
                  class="fa fa-arrow-circle-left fa-3x"
                  style="color: #134e6f"></i>
              </button>
              <h1 class="text-black">Bandeja de Noticias</h1>
            </div>
            <div class="col-md-12 mt-1">
              <h3>Lista de noticias: </h3>
            </div>
          </div>
          <div class="row mx-3 d-flex containerInbox py-3 px-3">
            <div class="card cardCCG">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 d-flex justify-content-start">
                    <a>05/01/2021 - Agradecimiento</a>
                  </div>
                  <div class="col-md-4 d-flex justify-content-start">
                    <p>Kendall Tiro Fijo Tames</p>
                  </div>
                  <div class="col-md-4 d-flex justify-content-end">
                    <a class="colorA">~ Nuevo</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>




