<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-page">
        <div class="card-body">
          <div class="row d-flex my-3">
            <button class="btn mr-4" (click)="goBack()">
              <i
                class="fa fa-arrow-circle-left fa-3x"
                style="color: #134e6f"
              ></i>
            </button>
            <h1 class="text-black">Bandeja de Noticias</h1>
          </div>

          <div class="col-md-12 mt-1">
            <h3>Lista de noticias:</h3>
            <!-- *ngfor="let news in structService.getNews()" -->
            <p *ngIf="showLoading">Cargando ...</p>
            <div *ngIf="!showLoading">
              <div class="card news-container" *ngFor="let n of news" (click)="showNews(n)">
                <small
                  class="text-black-50 d-flex justify-content-between"><span><b>{{ n.path }}</b></span><span>{{ n.data.date | date: 'dd-MM-yyyy HH:mm:ss' }}</span></small>
                <small
                  class="text-black-50 d-flex justify-content-between"><span>Enviada por {{ n.data.from }}</span><span
                  class="text-danger" *ngIf="!n.data.seen"><i>¡Nuevo!</i></span></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
