.responsive {
    width: 200px;
    height: 200px;
    margin-top: 10%;
}

.divider {
    border-left: 3px solid #FFA822;
    height: 100%;
}

@media screen and (max-width: 830px)  {
    .responsive {
        width: 100px;
        height: 100px;
        margin-top: 5%;
    }
    .card-page{
        height: 100%;
    }
}

@media screen and (max-height: 400px)  {
    .responsive {
        display: none;
    }
    .card-page{
        height: 100%;
    }
    .boton{
        height: 10%;
    }
}

.btnLeft{
    background: #1AC0C6;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.btnRight{
    background: #FF6150;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

