<div class="container-fluid my-auto">
  <div class="row">
    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <span class="text-white" style="font-size: 32px">
        Surfy Te Ayuda A <br />
        <b>Manejar Tu Gran Organización</b>
      </span>
    </div>
  </div>

  <div class="row d-flex justify-content-around">
    <div class="col-md-3 d-flex justify-content-center pb-4">
      <div class="card py-4 px-2 mx-2 d-flex justify-content-around">
        <img src="./assets/home/cambios.svg" class="icon" alt="Ubicacion" />
        <p class="text-black">Envía aportes / CCGs</p>
        <button
          type="submit"
          class="boton btn px-4 mx-auto"
          style="background-color: #134e6f"
          (click)="onSendCCGs()"
        >
          Enviar
        </button>
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center pb-4">
      <div
        class="card py-4 px-2 d-flex justify-content-around"
        style="margin-top: 100px"
      >
        <img src="./assets/home/estructura.svg" class="icon" alt="Ubicacion" />
        <p class="text-black py-4">
          {{
            memberService.loggedUser.role === "CEO"
              ? "Define la estructura de tu organización"
              : "Ver la estructura de la organización"
          }}
        </p>
        <button
          type="submit"
          class="boton btn px-4 mx-auto"
          style="background-color: #134e6f"
          (click)="onMenu()"
        >
          {{
            memberService.loggedUser.role === "CEO"
              ? "Gestionar Organización"
              : "Ver Estructura"
          }}
        </button>
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center pb-4">
      <div class="card py-4 px-2 d-flex justify-content-around">
        <img
          src="./assets/home/anadirMiembro.svg"
          class="icon"
          alt="Ubicacion"
        />
        <p class="text-black py-4">
          {{
            memberService.loggedUser.role === "CEO"
              ? "Añade nuevos miembros a tu Organización"
              : "Ver tu ficha de Datos"
          }}
        </p>
        <button
          type="submit"
          class="boton btn px-4 mx-auto"
          style="background-color: #134e6f"
          (click)="getMembers()"
        >
          {{
            memberService.loggedUser.role === "CEO"
              ? "Registrar Usuarios"
              : "Ver mis Datos"
          }}
        </button>
      </div>
    </div>
  </div>
</div>
