<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-page">
        <div class="card-body">

            <div class="row d-flex my-3">
              <button class="btn mr-4" (click)="goBack()">
                <i
                  class="fa fa-arrow-circle-left fa-3x"
                  style="color: #134e6f"
                ></i>
              </button>
              <h1 class="text-black">Bandeja Aportes / CCG</h1>
            </div>


            <div class="col-md-12 mt-1">
              <h3>Lista de aportes: </h3>
              <div class="row d-flex cardCCG my-3" *ngFor="let ccg of structService.ccgList" (click)="goCCG(ccg)">
                  <a>{{ccg.body}} - </a>
                <p> {{ccg.type}}</p>
              </div>
            </div>
          <div class="row d-flex mt-3">
            <div class="col-md-12 d-flex justify-content-end pr-5">
              <button class="btnSend" (click)="enabledCCGs()">Descargar</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>




