<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-page">
        <div class="card-body">
          <div class="row d-flex my-3">
            <div class="col-md-12">
              <button class="btn" (click)="goBack()">
                <i
                  class="fa fa-arrow-circle-left fa-3x"
                  style="color: #134e6f"></i>
              </button>
              <h1 class="text-black">Enviar Aporte / CCG</h1>
            </div>
            <div class="col-md-12 mt-1">
              <h3>Tipo de aporte: </h3>
            </div>
          </div>
          <div class="row d-flex ml-5">
            <div class="form-check  form-check form-check-inline d-flex">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Petitoria
              </label>
            </div>
            <div class=" form-check form-check form-check-inline d-flex ml-1">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Agredecimiento
              </label>
            </div>
            <div class=" form-check form-check form-check-inline d-flex ml-1">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Ofrecimiento
              </label>
            </div>
          </div>
          <div class="row d-flex mt-3">
            <div class="col-md-12">
              <div class="form-group mx-5">
                <label for="newsInput">Mensaje: </label>
                <textarea class="form-control textarea1" id="newsInput" rows="5" placeholder="Escriba aqui..."></textarea>
              </div>
            </div>
          </div>
          <div class="row d-flex mt-3">
            <div class="col-md-12 d-flex justify-content-end pr-5">
              <button class="btnSend">Enviar</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>




